---
import Layout from '../layouts/Layout.astro';
import Form from '../components/Form.astro';
---

<Layout title="Sergey" bodyClass="full">
    <h1 slot="heading">Zdorova!!!</h1>
	<main slot="form">
        <Form/>
	</main>
</Layout>

<style>
	main {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
	}
</style>
