---
interface Props {
	title: string;
    bodyClass: string;
}

const { title, bodyClass } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={bodyClass}>
        <slot name="heading" />
        <slot name="form" />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	* {
        padding: 0;
        margin: 0;
		font-family: system-ui, sans-serif;
        box-sizing: border-box;
	}

    body {
        background-color: rgb(219, 221, 222);
    }
</style>
